@model TutorialMonthlyCalendarAspNetCore.Models.Memberships

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .container {
        max-width: 500px;
        margin: auto;
        color: whitesmoke;
        background-color: #303030;
    }
</style>

<script>

    $(document).ready(function () {

        $.ajax({
            type: 'GET',
            url: '/api/events/GetPackages',
            data: "",
            success: function (data) {
                var sel = $("#package");
                sel.empty();
                data = jQuery.parseJSON(data);
                for (var i = 0; i < data.length; i++) {
                    sel.append('<option value="' + data[i].Id + '">' + data[i].PackageName + '</option>');
                }
            },
            contentType: 'application/json; charset=utf-8',
            dataType: 'json'
        });

    });
    function getSelectedText() {

        console.log("hitting");
        var elt = document.getElementById("package");

        if (elt.selectedIndex == -1)
            return null;

        $("#packageOptions").val($("#packageOptions").val() + elt.options[elt.selectedIndex].text + ',');
        elt.remove(elt.selectedIndex);
    }
</script>

<h2>Edit</h2>

<h4>Memberships</h4>
<hr />
<div class="container" style="padding: 25px;">
    <div class="form-group">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Package" class="control-label"></label>
                <input readonly asp-for="Package" class="form-control" />
                <span asp-validation-for="Package" class="text-danger"></span>
            </div>
            <div>
                <label for='package'>Select Package:</label>
                <select id='package'></select>
                <input type="button" onclick="getSelectedText()" value="Add">
            </div>
            <div class="form-group">
                <label asp-for="EmergencyName" class="control-label"></label>
                <input asp-for="EmergencyName" class="form-control" />
                <span asp-validation-for="EmergencyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContact" class="control-label"></label>
                <input asp-for="EmergencyContact" class="form-control" />
                <span asp-validation-for="EmergencyContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
